extends layout 
block content
div(w3-include-html='/views/navbar.html')
.container-shop
header
  nav.dash
    ul
      li
        a(href='/views/admin.html') Dashboard
      li
        a(href='/views/adminRegistration.html') Admin Registration
      li
        a(href='/views/babyRegistration.html') Register Baby
      li
        a(href='/views/sitterRegistration.html') Register Sitter
      li
        a(href='/views/babyStatus.html') Baby Status
      li
        a(href='/views/babyReport.html') Baby Report
      li
        a(href='/views/sittterReport.html') Sitter Report
      li
        a(href='/views/accounts.html') Accounts
      li
        a(href='/views/inventory.html') Inventory
      li
        a(href='/views/liveFeed.html') Live Feed
      button#logoutBtn Logout
main
  .container-babyReg
    h2.h2-babyReg DayStar Baby Registration Form
    form#registrationForm
      .form-row
        div(style='flex-basis: 48%;')
          label(for='firstName') First Name:
          input#firstName(type='text' name='firstName')
        div(style='flex-basis: 48%;')
          label(for='lastName') Last Name:
          input#lastName(type='text' name='lastName')
      .form-row
        div(style='flex-basis: 48%;')
          label(for='dob') Date of Birth:
          input#dob(type='date' name='dob')
        div(style='flex-basis: 48%;')
          label(for='gender') Gender:
          select#gender(name='gender')
            option(value='') Select
            option(value='male') Male
            option(value='female') Female
      label(for='address') Address:
      input#address(type='text' name='address' rows='1')
      .form-row
        div(style='flex-basis: 48%;')
          label(for='fatherName') Father&apos;s Name:
          input#fatherName(type='text' name='fatherName')
        div(style='flex-basis: 48%;')
          label &nbsp;
          input#fatherDeceased(type='checkbox' name='fatherDeceased' onchange='toggleFatherName(this)')
          label(for='fatherDeceased') Father Deceased
      .form-row
        div(style='flex-basis: 48%;')
          label(for='motherName') Mother&apos;s Name:
          input#motherName(type='text' name='motherName')
        div(style='flex-basis: 48%;')
          label &nbsp;
          input#motherDeceased(type='checkbox' name='motherDeceased' onchange='toggleMotherName(this)')
          label(for='motherDeceased') Mother Deceased
      #guardianField.form-row.hidden
        div(style='flex-basis: 100%;')
          label(for='guardianName') Guardian&apos;s Name:
          input#guardianName(type='text' name='guardianName')
      button.btn-babyReg(type='button' onclick='registerBaby()') Register Baby
  #popup-babyReg.popup-babyReg
    p#registrationMessage
    button(onclick='closePopup()') OK
div(w3-include-html='/views/footer.html')
script(src='https://cdn.jsdelivr.net/npm/chart.js')
script(src='/public/css/bootstrap/js/bootstrap.bundle.js')
script(src='/js/babyRegistration.js')
script(src='/public/js/add.js')
body 
block content 