doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Baby Registration Form
header
  nav.dash
    ul
      li
        a(href='/views/admin.html') Dashboard
      li
        a(href='/views/adminRegistration.html') Admin Registration
      li
        a(href='/views/babyRegistration.html') Register Baby
      li
        a(href='/views/sitterRegistration.html') Register Sitter
      li
        a(href='/views/babyStatus.html') Baby Status
      li
        a(href='/views/babyReport.html') Baby Report
      li
        a(href='/views/sittterReport.html') Sitter Report
      li
        a(href='/views/accounts.html') Accounts
      li
        a(href='/views/inventory.html') Inventory
      li
        a(href='/views/liveFeed.html') Live Feed
      button#logoutBtn Logout
main
